{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}

  <div class="container">
    <!-- Вывод ленты записей -->
    {% for post in page %}
      <!-- Вот он, новый include! -->
      {% include "post_item.html" with post=post %}
    {% endfor %}
  </div><h4>
    Автор:{{ post.author.username }}, Дата публикации: {{ post.pub_date|date:"d M Y" }}
</h4>
{% include "includes/short_pictures.html" %}
<p>{{ post.text|linebreaksbr }}</p>
{% if not forloop.last %}<hr>{% endif %}

{% include "includes/paginator.html" with items=page paginator=paginator%}
{% endblock %}

