{% extends "base.html" %}
{% block title %}
Профиль пользователя
{% endblock %}
{% block content %}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            {% include "includes/short_profile.html" %}
        </div>
        <div class="col-md-9">
            {% for post in page_obj %}
             {% include "includes/short_post.html" %}
            {% endfor %}
            </div>
        </div>
</main>
{% include "includes/paginator.html" %}
{% endblock %}
