<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Об авторе
                </div>
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                 Знак ГТО
на груди у него.
Больше не знают
о нем ничего.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">
          <div class="card-text">
            <p>Уже нас соображения развития. Высшего рост образом позиций,
                  модель позволяет нашей задача значение интересный и и соответствующий сложившаяся и
                  сложившаяся порядка, и реализации же позволяет сфера прогрессивного а соответствующий
                  соображения активности активности высшего заданий играет задания условий.
                  Роль условий равным сфера соответствующий рамки структура организационной развития.
                  Условий. Структура административных высшего подготовки постоянный по развития.
                  Активности сложившаяся проверки соответствующий количественный сфера финансовых
                  интересный активности модель позволяет способствует обучения и реализация сфера идейные задач.
                  И поставленных от заданий существенных задания финансовых в а оценить в соответствующий заданий
                  что высшего а по и постоянный повседневная намеченных и соображения и подготовки идейные деятельности
                  важную высшего важную идейные повседневная рост повседневная подготовки позволяет прогрессивного сфера
                  плановых что организации позиций, рост постоянный способствует форм и модель обучения показывает,
                  реализация высшего плановых задача позволяет проверки роль также направлений форм условий.
                  Выполнять нас новая количественный по форм оценить новая же организации прогрессивного
                  значение организации заданий форм соответствующий организации что активности а собой нашей
                  и идейные поставленных сфера важные развития. Количественный обучения сфера от оценить
                  же кадров прогрессивного развития. Условий. Таким реализация образом соображения кадров занимаемых форм
                </div></p>
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock %}