{% extends "base.html" %}
{% block title %}
Страница записи
{% endblock %}
{% block content %}
{% load user_filters %}
<div class="card-body">
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-3 mb-3 mt-1">
        {% include "includes/short_profile.html" %}
      </div>
      <div class="col-md-9">

        <!-- {% include "post_item.html" with post=post %} -->
        <!-- {% include "posts/comments.html" %} -->
      </div>
    </div>
    </div>
  </main>

  {% include "includes/paginator.html" %}
  {% endblock content %}
